.salida{
    height: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Calculator,sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: red;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ddd;
    background-color: white;
}